<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nft.mapper.NftComposeMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        as id
        ,version as version
        ,order_id as order_id
        ,is_execute as is_execute
        ,owner as owner
        ,name_ as name_
        ,description as description
        ,meta_id as meta_id
        ,property_keys as property_keys
        ,property_values as property_values
        ,property_types as property_types
        ,collection as collection
        ,transaction_status as transaction_status
        ,transaction_hash as transaction_hash
    </sql>

</mapper>
