<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nft.mapper.NftEventMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        as id
        ,chain as chain
        ,hash as hash
        ,key_ as key_
        ,account_ as account_
        ,type_ as type_
        ,collection as collection
        ,creator as creator
        ,name as name
    </sql>

</mapper>
