<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nft.mapper.NftMetaMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        as id
        ,nft_group_id as nft_group_id
        ,display_name as display_name
        ,description as description
        ,file as file
        ,uri as uri
        ,rank as rank
        ,transaction_status as transaction_status
        ,transaction_hash as transaction_hash
        ,is_born as is_born
        ,token_id as token_id
        ,score as score
        ,attribute_type as attribute_type
        ,table_handle as table_handle
        ,table_collection as table_collection
        ,table_creator as table_creator
        ,table_name as table_name
    </sql>

</mapper>
