<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nft.mapper.NftSplitMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        as id
        ,order_id as order_id
        ,is_execute as is_execute
        ,owner as owner
        ,source_uri as source_uri
        ,transaction_status as transaction_status
        ,transaction_hash as transaction_hash
    </sql>

</mapper>
