<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nft.mapper.OperationMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        as id
        ,chain as chain
        ,owner as owner
        ,type as type
        ,token_id as token_id
        ,token_amount as token_amount
        ,bid_token as bid_token
        ,price as price
        ,transaction_status as transaction_status
        ,transaction_hash as transaction_hash
        ,ts as ts
    </sql>

</mapper>
