<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nft.mapper.MarketMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        as id
        ,chain as chain
        ,version as version
        ,order_id as order_id
        ,type_ as type_
        ,price as price
        ,maker as maker
        ,ask_token as ask_token
        ,ask_amount as ask_amount
        ,bidder as bidder
        ,bid_token as bid_token
        ,bid_amount as bid_amount
        ,ts as ts
        ,dead_ts as dead_ts
        ,trade_status as trade_status
        ,is_enabled as is_enabled
    </sql>

</mapper>
