<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nft.mapper.NftInfoMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id as id
        ,box_group_id as box_group_id
        ,nft_group_id as nft_group_id
        ,nft_id as nft_id
        ,name_ as name_
        ,owner as owner
        ,uri as uri
        ,score as score
        ,rank as rank
        ,state as state
        ,mtime as mtime
        ,ctime as ctime
    </sql>

</mapper>
