<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nft.mapper.TokenMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        as id
        ,module_address as module_address
        ,module_name as module_name
        ,struct_name as struct_name
        ,initialize_function as initialize_function
        ,name_ as name_
        ,symbol as symbol
        ,transaction_status as transaction_status
        ,transaction_hash as transaction_hash
    </sql>

</mapper>
